.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #333;
  color: white;
  height: 60px;
  padding-left: 35px;
}
h1 {
  font-size: 30px;
  padding:0;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  margin: 0;
}

h1 i {
  font-size: 50px;
  color: #20BEB8;
  vertical-align: middle;
  font-size: 36px !important;
}

h2 {
  display: inline-block;
  margin-right: 10px
}

select {
  font-size: 18px;
  vertical-align: baseline;
  padding: 3px;
  outline: none;
}
.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.content-col {
  width: 50%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.left {
  /*background-color: blue;*/
  border-right: 2px solid #ddd;
}

.right {
  /*background-color: green;*/
}

textarea {
  resize: none;
  flex:1;
  background-color: #fafafa;
  /*border:none;*/
  border-radius: 0px;
  outline: none !important;
  padding: 10px;
}
.buttons {
  height: 60px;
}

.buttons button {
  margin-top: 10px;
  padding: 3px 20px 3px 20px;
  font-size: 20px;
  margin-right: 10px;
  background-color: #20BEB8;
  border: 2px solid #20BEB8;
  color: white;
  /*font-weight: bold;*/
  cursor: pointer;
  height: 42px;
  font-family: 'Roboto';
  outline: none;

}
.buttons button:hover i {
  transform: scale(1.5);
}
.buttons button i {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 10px;
  transition: 0.3s ease-in all;

}

@media (max-width: 700px) {
  .content {
  flex-direction: column;

  }
  .content-col {
    width: calc(100% - 70px);
    flex:1;
  }
  .left {
    border-bottom: 2px solid #ddd;
    border-right: none;

  }

}

